.lists-container::-webkit-scrollbar {
  height: 2.4rem;
}

.lists-container::-webkit-scrollbar-thumb {
  background-color: #66a3c7;
  border: 0.8rem solid #0079bf;
  border-top-width: 0;
}

.board {
  position: relative;
  font-family: Roboto, serif;
}

.lists-container {
  display: flex;
  align-items: start;
  padding: 0 0.8rem 0.8rem;
  overflow-x: auto;
  height: calc(100vh - 8.6rem);
}


root {
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #0079bf;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font: inherit;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

:focus {
  outline-color: #fa0;
}


@supports (display: grid) {
  body {
    display: grid;
    grid-template-rows: 4rem 3rem auto;
    grid-row-gap: 0.8rem;
  }

  .masthead {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 2rem;
  }

  .boards-menu {
    display: grid;
    grid-template-columns: 9rem 18rem;
    grid-column-gap: 0.8rem;
  }

  .user-settings {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 0.8rem;
  }

  .board-controls {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1rem;
  }

  .board {
    display: inline-block;
    justify-content: space-between;
    padding: 10px;
  }

  .lists-container {
    display: flex;
    justify-content: space-between;
    grid-auto-columns: 15rem;
    grid-auto-flow: column;
    grid-column-gap: 1rem;
  }

  .list {
    display: grid;
    grid-template-rows: auto minmax(auto, 1fr) auto;
  }

  .list-items {
    display: grid;
    grid-row-gap: 0.6rem;
  }

  .logo,
  .list,
  .list-items li,
  .boards-btn,
  .board-info-bar,
  .board-controls .btn,
  .user-settings-btn {
    margin: 0;
  }
}

.cdk-drop-list-dragging .cdk-drag {
  background-color: #a28fb5;

}

#addButton {
  font-size: 90px;
  color: #f5f5f5;
}

.buttonAndSprints {
  align-items: center;
  background: white;
  border-radius: 4px;
  margin: 20px;
  padding: 20px;
}
.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 500px;
}

#selectSprint {
  font-size: 16px;
}

#sprintLabel {
  color: black;
  font-weight: 400;
  font-size: 18px;
  font-family: sans-serif;
}

.matOption {
  color: whitesmoke;
}

.stories {
  display: inline-block;
}

.mat-form-field-infix {
  border-top: none;
}

#archiveLink {
  font-size: 25px;
  text-decoration: none;
  color: black;
  border-radius: 7px;
  padding: 5px;
  background-color: #a7a7a7;
  font-family: Roboto, serif;
}

.createButton {
  padding: 5px 0;
  font-size: 2.5rem;
  background-color: #a7a7a7;
}

#refreshButton {
  font-size: 46px;
  cursor: pointer;
  background-color: #a7a7a7;
  border-radius: 7px;
}

.blured {
  filter: blur(15px);
}

.roleReminder {
  font-size: 19pt;
  background-color: #673ab761;
  border-radius: 8px;
}
