mat-form-field, h1 {
    display: block;
    margin: auto 20px;
}
h3 {
    margin: auto 20px;
}
.mat-raised-button {
    margin: 4px 8px;
    border: 1px solid #333;
}

.sprint-dialog {
    background: white;
    margin: 20px;
    border-radius: 4px;
    padding: 20px 0;
}

.actions {
    margin: 20px;
}

.example-form mat-form-field {
    margin-bottom: 20px;
}
