<h3>Please, enter sprint data</h3>
<div class="example-container">
  <form class="example-form" [formGroup]="sprintForm" #f="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="!sprintForm.get('name').valid && sprintForm.get('name').touched">Name is required</mat-error>
    </mat-form-field>   
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <input type="text" matInput formControlName="description">
      <mat-error *ngIf="!sprintForm.get('description').valid && sprintForm.get('description').touched">Description is required</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Start Date</mat-label>
      <input type="date" matInput formControlName="startDate">
      <mat-error *ngIf="!sprintForm.get('startDate').valid && sprintForm.get('startDate').touched">Start date is required</mat-error>

    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>End Date</mat-label>
      <input type="date" matInput formControlName="endDate">
      <mat-error *ngIf="!sprintForm.get('endDate').valid && sprintForm.get('endDate').touched">End date is required</mat-error>

    </mat-form-field>
    <br>
    <div style="display: inline;">
      <button mat-raised-button color="primary" [disabled]="!sprintForm.valid" type="submit" (click) = OnSaveChanges()>Save</button>
      <button mat-raised-button type="reset" (click) = OnClear()>Reset</button>
      <button mat-raised-button color="warn" (click) = OnCancel()>Cancel</button>
    </div>    
  </form>
</div>
