<div class="container mat-elevation-z8">

<ng-container matColumnDef="actions">    
    <div class="form">

        <button mat-raised-button color="primary" (click)="OnBackClick()">
           Add
        </button>
    </div>
</ng-container>

    <table mat-table [dataSource]="dataSource" matSort class="mat-cell">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let project">{{project.id}}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let project"><a (click)="linkClicked(project.id)">{{project.name}}</a></td>
        </ng-container>
        
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let project">{{project.description}}</td>
        </ng-container>

        <tr class="tabrow" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr class="tabrow" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


</div>
  