<div>
    <mat-card *ngIf='user != null' id='user-info-card'>
        <mat-card-header>
            <div mat-card-avatar>
                <a [routerLink]="['/user', user.userName]">
                    <app-user-ico [user]='user' [small]='false'></app-user-ico>
                </a>
            </div>
            <mat-card-title>{{user.firstName != null ? user.firstName : '?'}} {{user.lastName}}</mat-card-title>
            <mat-card-subtitle>@{{user.userName}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content *ngIf='user.info != null && user.info != ""'>
            <p>Some Bio</p>
            <p>{{user.info}}</p>
        </mat-card-content>
    </mat-card>

    <mat-card id='projects-container' *ngIf='user != null && (itIsMe() || (userProjects != null && userProjects.length > 0))'>
        <mat-card-header *ngIf="itIsMe()">
            <button mat-flat-button (click)='goToProjects()' color='primary' id='projects-button'>Manage Projects</button>
        </mat-card-header>

        <mat-card-content>
            <ul>
                <li *ngFor='let p of userProjects'>
                    <a [routerLink]="['/user', p.owner.userName, 'projects', p.id]">
                            <mat-card class='project-card'>
                                <mat-card-header>
                                    <div class='proj-header-div'>
                                        <mat-card-title>{{p.name}}</mat-card-title>
                                        <mat-icon [matTooltipPosition]="'right'" matTooltip="It's your project" matTooltipClass='tooltip-general'
                                                *ngIf='itIsMyProject(p)'>star</mat-icon>
                                        <mat-icon [matTooltipPosition]="'right'" matTooltip="It's project of this user" matTooltipClass='tooltip-general'
                                                *ngIf='itIsProjectOfProfileUser(p) && !itIsMyProject(p)'>star_border</mat-icon>
                                    </div>
                                </mat-card-header>
    
                                <mat-card-content class='project-card-content'>
                                    <p class='proj-desc'>{{p.description}}</p>
                                </mat-card-content>
                            </mat-card>
                    </a>
                </li>
            </ul>
        </mat-card-content>
    </mat-card>
</div>
