.project-details-container {
    display: flex;
    padding: 0 30px;
    flex-direction: column;
}
.project-container, .users-container, .sprints-container{
    margin-top: 30px;
    display: block;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color:  rgba(255, 255, 255, 0.7);
    box-shadow: 0 3.2px 7.2px 0 rgba(0,0,0,.132), 0 0.6px 1.8px 0 rgba(0,0,0,.108);
}
.sprints-container {
  margin-bottom: 10px;
}
.delete-btn {
  margin: auto 0;
  width: 70px;
  height: 35px;
}
.project-name {
    display: flex;
    justify-content: space-between;
}
legend { 
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
  }
  .sprintInfo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
