<h2 class="text-center">Administrator Panel</h2>

<div class="card-container">

<mat-card class="card">

  <mat-card-header>
    <mat-card-title id='title'>
      <mat-icon>
        account_circle
      </mat-icon>
      Users
    </mat-card-title>
  </mat-card-header>
    <mat-card-content>
      
      <p class="card-text">
        Management of all users of entire system
      </p>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="manageUsers()">Manage users</button>
        <button mat-raised-button color="primary" (click)="createAdmin()">Create admin</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>


</div>