
.matInputForm {
  background-color: whitesmoke;
}

.dialogContent {
  position: relative;
}

.paramList {
  padding: 0px 0px 1px 5px;
  margin: 5px 0px 0px 0px;
  list-style-type: none;
}

.mat-form-field-wrapper {
  background-color: chartreuse;
}


#inputDesctiption {
  margin-top: -2px;
  margin-bottom: -2px;
  height: 70px;
}

.mat-form-field {
  display: contents;
}

#createButton {
  position: absolute;
  right: 0;
}
